<div class="new-message-wrapper">
  <form>
    <div class="top">
      <label>
        <input type="checkbox"/>
        Highlighted
      </label>

      <input type="text"
            placeholder="Hover Text"
            [(ngModel)]="ourMessage"
            [ngModelOptions]="{standalone: true}"/>
    </div>
    {{ourMessage}}
    <div class="bottom">
      <input type="text"
            class="new-message"
            #newMessageInput
            (keyup.enter)="sendMessage(newMessageInput)" 
            placeholder="{{default}}"
            [(ngModel)]="ourMessage"
            [ngModelOptions]="{standalone: true}"/>
      <input type="submit" class="btn-send" (click)="sendMessage(newMessageInput);" value="Send"/>
    </div>
  </form>
</div>